#Fake dependacies to test Semgrep push
flask==0.12.0             # 🚨 CVE-2018-1000656 among others
requests==2.32.4           # 🚨 Old version, missing security patches
PyJWT==1.4.0              # 🚨 Insecure token verification in old versions
